$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$green-color:#66cdaa;
$black: #000;

//Mixin's
@mixin box-shadow($horizontal: 8px, $vertical: 5px, $blur: 5px, $color: #888) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin background-image($top:top,$start-color:#66cdaa, $end-color:#66cdaa) {
  background-image: -webkit-linear-gradient($top, $start-color, $end-color);
  background-image: -moz-linear-gradient($top, $start-color, $end-color);
  background-image: linear-gradient($top, $start-color, $end-color);
}

@mixin background-image($top:top,$start-color:#3cfcb6, $end-color:#34d9b8) {
  background-image: -webkit-linear-gradient($top, $start-color, $end-color);
  background-image: -moz-linear-gradient($top, $start-color, $end-color);
  background-image: linear-gradient($top, $start-color, $end-color);
}

.container {
  margin: 0 auto;
}

.navbar-brand {
  color: DarkGrey;
  font-family: "Rosario", sans-serif;
  font-size: 20px;
}


h1 {
  color: $green-color; //green
  font-family: "Pacifico", Times, serif;
  font-size: 36px;
  letter-spacing: 3px;
  text-align: center;

}

.messages {
  font-family: "Rosario", sans-serif;
  font-size: 22px;
  text-align: center;

}

.ticboard {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.box {
  @include box-shadow($horizontal: 8px, $vertical: 5px, $blur: 5px, $color: #888);
  border: 2px solid $black;
  font-color: $black;
  font-size: 34px;
  height: 130px;
  text-align: center;
  width: 130px;
}


tr, td {
  font-family: "Rosario", sans-serif;
  font-size: 15px;
  text-align: center;
}

.score-text {
  font-weight:bold;
  width: 111px;
}

.score-number {
  color: $green-color; //green
  font-family: "Rosario", sans-serif;
  font-size: 25px;
}

p {
  text-align: center;
}

//bottom button

button {
  margin: 0 auto;
  font-family: "Rosario", sans-serif;
  font-size: 20px;
}

.btn {
  @include border-radius(25px);
  @include background-image($top:top,$start-color:#66cdaa, $end-color:#66cdaa);
  background: #66cdaa;
  color: #ffffff;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfcb6;
  @include background-image($top:top,$start-color:#3cfcb6, $end-color:#34d9b8);
  text-decoration: none;
}
