
$box-shadow:8px 5px 5px #888;
$green-color:#66CDAA;

.container{
  margin: 0 auto;
  position: center;
  padding: 1em;
}

//new game
.restart-button{
  font-family: "Pacifico", Times, serif;
  font-size: 36px;
  text-align: center;
  color: $green-color; //green
  letter-spacing: 3px;
}

.messages{
  text-align: center;
  font-size: 22px;
  font-family: "Rosario", sans-serif;
}

.ticboard{
  margin: 0 auto;
  vertical-align: top;
}

.box {
  height: 130px;
  width: 130px;
  font-color: black;
  text-align: center;
  font-size: 34px;
  border: 2px solid black;
  box-shadow: $box-shadow;//grey
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
}


tr, td{
  text-align: center;
  font-family: "Rosario", sans-serif;
  font-size: 15px;
}
.score-number{
  font-family: "Rosario", sans-serif;
  font-size: 25px;
  color: $green-color; //green
}
